<div id="main-content" class="container">
    <div class="row">
      <div class="col-md-6">
        <form class="form-inline">
          <div class="form-group">
            <label for="connect">WebSocket connection:</label>
            <button id="connect" class="btn btn-default" type="button" [disabled]="disabled" (click)="connect()">Connect</button>
            <button id="disconnect" class="btn btn-default" type="button" [disabled]="!disabled" (click)="disconnect()">Disconnect
            </button>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <form class="form-inline" name="test-form">
          <div class="form-group">
            <label for="name">What is your name?</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="Your name here..." [(ngModel)]="name">
          </div>
          <button id="send" class="btn btn-default" type="button" (click)="request()">Send</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" *ngIf="showConversation">
        <table id="conversation" class="table table-striped">
          <thead>
          <tr>
            <th>Greetings</th>
          </tr>
          </thead>
          <tbody *ngFor="let fichier of fichiers" >
            <tr><td> <span>{{fichier.nom}} -- {{fichier.taille}} {{fichier.unite}} </span> <span *ngIf="fichier.tailleSecondaire != null ">{{fichier.tailleSecondaire}} {{fichier.uniteSecondaire}}</span></td></tr>
          </tbody>
        </table>
      </div>
    </div>
  
  </div>
  