
<div class="card m-3">
  <h5 class="card-header">Plateforme de téléchargement de lien Uptobox</h5>
  <div class="card-body">
    <form *ngIf="!this.autorisationDowload" [formGroup]="autorisationDownloadForm" >
      <mat-form-field class="example-full-width">
        <mat-label>Mot de passe d'autorisation</mat-label>
        <input matInput type="password" formControlName="autorisationDownload" [(ngModel)]='this.autorisationDownloadForm.value.autorisationDownload'>
        <mat-error *ngIf="g.autorisationDownload.errors?.required">
          Mot de passe obligatoire pour télécharger
        </mat-error>
        <mat-error *ngIf="!g.autorisationDownload.errors?.required && g.autorisationDownload.errors?.autorisationIncorrect">
          Mot de passe incorrect
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="verificationPassword()"><i class="fas fa-check" ></i></button>
    </form>
    <table class="table" *ngIf="this.autorisationDowload">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Lien</th>
          <th scope="col">Nom du fichier</th>
          <th scope="col">Taille</th>
          <th scope="col">Urgent</th>
          <th scope="col" class="center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <form [formGroup]="uploadForm" >
              <mat-form-field class="example-full-width">
                <mat-label>Lien uptobox</mat-label>
                <input matInput formControlName="lien" [(ngModel)]='this.uploadForm.value.lien' placeholder="Ex. http://uptobox.com/fefergsfvcre" (change)="getInfoLien()">
                <mat-error *ngIf="f.lien.errors?.lienUptobox && !f.lien.errors?.required">
                  Ce n'est pas un lien uptobox
                </mat-error>
                <mat-error *ngIf="f.lien.errors?.required">
                  Lien  <strong>obligatoire</strong>
                </mat-error>
                <mat-error *ngIf="f.lien.errors?.isPresent">
                  Le lien est déja présent
                </mat-error>
                <mat-error *ngIf="f.lien.errors?.isPresentServer">
                  Le lien est déja présent sur le serveur
                </mat-error>
                <mat-error *ngIf="f.lien.errors?.nonTrouvee">
                  Le fichier n'existe pas
                </mat-error>
              </mat-form-field>
            </form>
          </td>
          <td>{{lienAjout.nom}}</td>
          <td>{{lienAjout.taille}}</td>
          <td><input type="checkbox" (click)="changeIsUrgent(lienAjout)" [checked]="lienAjout.urgent===1"></td>
          <td class="center"><i class="iconField fas fa-plus-square" (click)="addInfoLien()"></i></td>
        </tr>
        <tr *ngFor="let lien of lienTable">
          <td>{{lien.lien}}</td>
          <td>{{lien.nom}}</td>
          <td>{{lien.taille}}</td>
          <td><input type="checkbox" (click)="changeIsUrgent(lien)" [checked]="lien.urgent===1"></td>
          <td *ngIf="lien.terminee === undefined" class="center"><i class="iconField fas fa-trash-alt" (click)="removeLien(lien.lien)"></i></td>
          <td *ngIf="lien.terminee == false"><i class="fas fa-arrow-circle-down"></i></td>
          <td *ngIf="lien.terminee == true"><i style="color:green;"class="fas fa-check-circle"></i></td>

        </tr>
      </tbody>
    </table>
    <button *ngIf="this.autorisationDowload" type="button" (click)="saveLiens()" class="btn btn-primary">Enregistrer</button>
  </div>
</div>
