.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .fieldError{
    color:red;
  }

  .iconField{
    font-size: 3em;
    color:#111159;
    cursor: pointer;
  }

  .center{
    text-align: center; 
  }
  